.form {
    display: flex;
    /*grid-template-columns: repeat(2, 1fr);*/
    flex-wrap: inherit;
    justify-content: space-between;
    margin-top: 16px;
}

.form input[type='text'] {
    flex: 12;
    padding: 5px;

}

.form input[type='submit'] {
    flex: 2;
    
}